{% extends "base.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="card" style="width: 550px; margin:100px auto">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
        <p class="card-text">Description: {{title.description}}</p>
        <p class="card-text">Users:</p>
        <ul>
            {% for user in users %}
                <li> <a href="{% url 'users:userpage' user.id %}">{{user}}</a></li>
            {% endfor %}
        </ul>
        <p class="card-text">Technologies: {{techn}}</p>
    </div>
</div>
{% endblock %}