{% for project in projects %}
<div class="card" style="margin: 20px">
    <div class="card-header">{{ project }}</div>
    <div class="card-body">
        <p class="card-text">{{ project.description }}</p>
        <p>
            <b>Technologies:</b> {% for tech in project.technologies.all %} {{ tech }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p>
            <b>Users:</b> {% for us in project.users.all %} {{ us }}{% if not forloop.last %}, {% endif %} {% endfor %}
        </p>
        {% csrf_token %}
        {% if project.projects_id.all.count %}
        <button type="button" class="like btn btn-default likes-button" id="{{ project.id }}">
            &#x1f5a4;
            <span class="number-of-likes">{{ project.projects_id.all.count }}</span>
        </button>
        {% else %}
        <button type="button" class="like btn btn-default likes-button" id="{{ project.id }}">
            &#x1f5a4;
            <span class="number-of-likes"></span>
        </button>
        {% endif %}
    </div>
</div>
{% endfor %}