{% extends "base.html" %} 
{% block title %} Projects {% endblock %} 
{% block external_scripts %}
<script>
    $(document).ready(function () {
        function trimStr(s) {
            s = s.replace(/^\s+/gi, '');
            s = s.replace(/\s+$/gi, '');
            return s;
        };
        var sort = 0
        var textToFind = ''

        $('#search').click(function () {
            textToFind = trimStr($('input').val());
            $.ajax({
                type: "GET",
                data: { "text": textToFind },
                url: "/projects/search/",
                success: function (data) {
                    $('#body-table').html(data.projects_table);
                    $('#paginator').html(data.pagination);
                }
            });
        })

        $('#projects').click(function(){
            // $('#projects').text('Projects &darr; &uarr;')
            var numPage = $('#numberPage').text()
            sort += 1
            if (sort == 3){
                sort = 0;
            }
            $.ajax({
                type: "GET",
                data: { "sort": sort, "numPage": numPage },
                url: "/projects/sort/",
                success: function (data) {
                    $('#body-table').html(data.projects_table);
                    $('#paginator').html(data.pagination);
                }
            })
        });

        $(document).on('click', '.page-link', function(ev){
            numberPage = $('#numberPage').text();
            $.ajax({
                type: "GET",
                data: { "text": textToFind, "sort": sort, "numPage": $(this).attr("pageNumber") },
                url: '/projects/sort/', //$(this).attr("pageNumber"), 
                success: function (data) {
                    $('#body-table').html(data.projects_table);
                    $('#paginator').html(data.pagination);
                }               
            });
        });
    });
</script> 
{% endblock %} 
{% block content %}
<div class="card" style="width: 750px; margin:100px auto">
    <nav class="navbar navbar-light bg-light form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="find" value="">
        <button id="search" class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </nav>
    <table class="table table-bordered table-hover main" style="margin-bottom: 0;">
        <thead>
            <tr style="font-weight:bold">
                <td id="projects" scope="col"> Projects</td>
                <td scope="col">Technologies</td>
                <td scope="col">Users</td>
            </tr>
        </thead>

        <tbody id="body-table">
            {% include "projects/projects_table_list.html" %}
        </tbody>
    </table>
    <nav id="paginator" aria-label="Page navigation example">
    {% include "projects/paginator.html" %}
    </nav>
</div>
{% endblock %}
