{% extends "base.html" %} 
{% block title %} Projects {% endblock %} 
{% block content %}
<div class="card" style="background-color: white; border: 1px">
<pre>{
    'error': false,
    'Technologies': [{% for technol in technologies %}
        {
            title: {{ technol }},
            Projects:[ {% for k in technol.projects.all %}
                {
                    id: {{ k.id }},
                    title: {{ k }}
                }, {% endfor %}         
            ]
        }, {% endfor %}
    ] 
}</pre>
</div>
{% endblock %}
