{% extends "base.html" %}
{% block title %} {{full_name}} {% endblock %}
{% block content %}
<div class="card" style="width: 550px; margin:100px auto">
    <h5 class="card-header">{{full_name}}</h5>
    <div class="card-body">
        <p class="card-text">Age: {{age}}</p>
        <p class="card-text">Projects:</p>
        <ul>
            {% for proj in projects%}
                <li><a href="{% url 'projects:detail' proj.id %}">{{proj.title}}</a> </li>
            {% endfor %}
        </ul>
        <a href="{% url 'projects:add project' %}" class="btn btn-outline-primary">Add Project</a><br><br>
        <a href="{% url 'projects:add technology' %}" class="btn btn-outline-primary">Add Technology</a>
    </div>
</div>
{% endblock %}